html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #bddef4;
}

h1,
h2,
h3 {
  margin: 0;
}

header {
  width: 100%;
  margin: 0 auto;
  max-height: 800px;
  max-width: 2000px;

  img {
    width: 100%;
    max-height: 500px;
  }
}

.main {
  height: 600px;
}

.akaszto {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 0;

  img {
    width: 1200px;
  }
}

.sweaters {
  padding-top: 16px;
  padding-left: 0px;
  position: absolute;
  width: 1200px;
}

.shelves {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (max-width: 1270px) {
  .akaszto {
    zoom: 80%;
  }
}

@media (max-width: 1030px) {
  .akaszto {
    zoom: 62%;
  }
}
