.popup-container {
  display: none;
  position: relative;
  z-index: 101;
}

.popup {
  z-index: 101;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 760px;
  height: 600px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  padding: 30px;
  gap: 20px;
  flex-wrap: wrap;

  img {
    max-height: 160px;
    max-width: 160px;
  }
}

@media (max-width: 1200px) {
  .popup {
    zoom: 80%;
    top: 60%;
  }
}
