.shelf {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .num {
    color: white;
    font-size: 48px;
    font-weight: 600;
    margin: 0;
  }

  .alapitvany {
    color: gray;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    margin: 0;
    height: 4rem;
    line-height: 2rem;
  }

  img {
    width: 100%;
  }
}

.foldedSweaters {
  margin-bottom: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

  img {
    width: 140px;
    margin-bottom: -3px;
  }
}

@media (max-width: 1270px) {
  .shelf {
    max-width: 250px;
  }
}

@media (max-width: 1030px) {
  .shelf {
    max-width: 250px;
  }
}
