.no-scroll {
  overflow: hidden;
  height: 100%;
}

.shelf {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 500px;

  .num {
    color: white;
    font-size: 48px;
    font-weight: 600;
    margin: 0;
  }

  .alapitvany {
    color: gray;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    margin: 0;
    height: 4rem;
    line-height: 2rem;
  }

  img {
    width: 100%;
  }
}

.infoPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.InfoPopupContent {
  position: relative;
  background-color: white;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  z-index: 101;
}

.popupClose {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 101;
}

.showInfoPopup {
  display: block;
}

.hideInfoPopup {
  display: none;
}

.infoContainer {
  position: relative;
}

.website {
  background-color: #0d304b;
  padding: 0.4rem 1rem;
  padding-left: 2rem;
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  margin-top: 12px;

  &:hover {
    cursor: pointer;
  }
}

a{
  text-decoration: none;
}

.num {
  cursor: pointer;
}

.infoBtn {
  position: absolute;
  top: 8px;
  left: -16px;
  width: 40px;
  height: 40px;
  z-index: 10;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;

  &:hover {
    cursor: pointer;
  }
}

.shelf-img {
  margin-top: -4px;
  width: 300px !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.foldedSweaters {
  margin-bottom: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

  .folded {
    width: 130px;
    margin-bottom: -3px;
  }
}

.showPopup {
  display: inline;
  flex: none;
}

.hidePopup {
  display: none;
}

.linkIcon{
  max-width: 50px;
  height: 50px;

  &:hover{
    cursor: pointer;
  }
}

@media (max-width: 1270px) {
  .shelf {
    max-width: 250px;
  }
}

@media (max-width: 1070px) {
  .website {
    margin-bottom: 12px;
  }

  .shelf {
    max-width: none;
    min-height: 200px;
    gap: 20px;
    min-width: 850px;

    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;

    .alapitvany {
      width: 300px;
      text-align: left;
    }

    .folded {
      max-width: 100px;
    }

    .shelf-img {
      max-width: 220px;
    }

    .num {
      min-width: 50px;
    }
  }

  .infoBtn{
    position: relative;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
  }
}
