.sweater-container {
  width: 210px;
  height: 180px;
  position: absolute;
}

.sweater {
  height: 100%;
  width: 100%;
  position: relative;

  img {
    object-fit: contain;
    height: 100%;
    width: 100% !important;
  }
}
